
html {
  background: linear-gradient(174deg, rgba(255,236,203,1) 0%, rgba(238,188,59,1) 55%, rgba(255,132,0,1) 100%);
}

html, body {
    display: flex;
    align-items: top;
    justify-content: center;
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    
  }

.wrapper{
    max-width: 100%;
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: top;
}

.home {
    font-family: 'Inconsolata', monospace;
    font-weight: bold;
    font-size: 200%;
    margin: 50px;
}

.heading {
  text-decoration: underline;
  font-family: 'Exo 2', sans-serif;
}

.underline:link {
    text-decoration: none;
    color: black;
  }
  
  .underline:visited {
    text-decoration: none;
    color: black;
  }
  
  .underline:hover {
    text-decoration: none;
    color: black;
  }
  
  .underline:active {
    text-decoration: none;
    color: black;
  }
  
  a.underline {
    position: relative;
  }
  
  a.underline:before {
    content: "";
    position: absolute;
    width: 0;
    height: 6px;
    bottom: 0;
    right: 0;
    background-color: black;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
  }
  
  a.underline:hover:before {
    visibility: visible;
    width: 100%;
  }

.section{
  margin: 80px;
  font-size: 120%;
}

ul {
    list-style-type: square;
}

li {
    font-family: 'Roboto', sans-serif;
    margin: 10px;
}

.abtLnk{
  color: #cf0000;
  font-weight: bold;
  background: linear-gradient(to left, #c90000, #c90000 50%, rgb(255, 255, 255) 50%);
  transition: background-position 275ms ease;
  overflow: hidden;

  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;

}

.abtLnk:hover {
  background-position: 0 100%;
}


.profPic {
  transform: translate(0, 20%);
  height: 60%;
}


  