html,
body {
    display: flex;
    align-items: top;
    justify-content: left;
    height: 100%;
    width: 100%;
    background: linear-gradient(174deg, rgba(255, 236, 203, 1) 0%, rgba(238, 188, 59, 1) 55%, rgba(255, 132, 0, 1) 100%);
    padding: 0px;
    margin: 0px;
}

.home {
    font-family: 'Inconsolata', monospace;
    font-weight: bold;
    font-size: 200%;
    margin: 50px;
}

.underline:link {
    text-decoration: none;
    color: black;
}

.underline:visited {
    text-decoration: none;
    color: black;
}

.underline:hover {
    text-decoration: none;
    color: black;
}

.underline:active {
    text-decoration: none;
    color: black;
}

a.underline {
    position: relative;
}

a.underline:before {
    content: "";
    position: absolute;
    width: 0;
    height: 6px;
    bottom: 0;
    right: 0;
    background-color: black;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

a.underline:hover:before {
    visibility: visible;
    width: 100%;
}

.section {
    margin: 80px;
    font-size: 110%;
}

h1 {
    font-size: 300%;
}

.subheading {
    font-size: 100%;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

li {
    font-family: 'Roboto', sans-serif;
    font-size: 120%;
}

.featureLnk {
    color: black;
    font-weight: bold;
    background: linear-gradient(to left, black, black 50%, rgb(255, 255, 255) 50%);
    transition: background-position 275ms ease;
    overflow: hidden;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
}

.featureLnk:hover {
    background-position: 0 100%;
}

.des {
    font-family: 'Roboto', sans-serif;
    font-size: 90%;
    margin-bottom: 5px;
}

.heading {
    text-decoration: underline;
    font-family: 'Exo 2', sans-serif;
}