html {
    background: linear-gradient(#f5dfc8, #ff8400);
}

html, body {
    display: flex;
    align-items: top;
    justify-content: left;
    height: 100%;
    width: 100%;
    padding: 50px;
    
  }

  .home {
    font-family: 'Inconsolata', monospace;
    font-weight: bold;
    font-size: 200%;
    margin: 50px;
}

.underline:link {
    text-decoration: none;
    color: black;
  }
  
  .underline:visited {
    text-decoration: none;
    color: black;
  }
  
  .underline:hover {
    text-decoration: none;
    color: black;
  }
  
  .underline:active {
    text-decoration: none;
    color: black;
  }
  
  a.underline {
    position: relative;
  }
  
  a.underline:before {
    content: "";
    position: absolute;
    width: 0;
    height: 6px;
    bottom: 0;
    right: 0;
    background-color: black;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
  }
  
  a.underline:hover:before {
    visibility: visible;
    width: 100%;
  }