html, body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  background: linear-gradient(174deg, rgba(255,236,203,1) 0%, rgba(238,188,59,1) 55%, rgba(255,132,0,1) 100%);
}

.wrapper {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  height: 100%;
}

.name {
  font-family: 'Exo 2', sans-serif;
  margin-bottom: 1px;
}

.subheading {
  font-family: 'Exo 2', sans-serif;
  margin-bottom: 2px;
}

.subtitle {
  text-align: center;
  font-family: 'Playfair Display', serif;
  margin-bottom: 30px;
}

.main {
  margin: 150px;
  max-width: 50%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 120%;
  color: black;
}

.name {
  font-size: 300%;
}

.profile-picture {
  border-radius: 50%;
}

.social-links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}


.fa {
  /*padding + font-size = width*/
  padding: 15px;
  font-size: 15px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 0.5em;
}

.social-links li {
  margin-left: 5em;
}

.fa:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

/* GH */

.fa-github {
  background: #24292e;
  color: #ffffff;
}

.fa-linkedin {
  background: #2867B2;
  color: #ffffff;
}

.fa-envelope-square {
  background: #EA4335;
  color: #ffffff;
}

.navBar {
  font-family: 'Inconsolata', monospace;
  margin-bottom: 30px;
  font-size: 300%;
  color: white;
  list-style-type: none;
  font-weight: bold;
  
}

.underline:link {
  text-decoration: none;
  color: black;
}

.underline:visited {
  text-decoration: none;
  color: black;
}

.underline:hover {
  text-decoration: none;
  color: black;
}

.underline:active {
  text-decoration: none;
  color: black;
}

a.underline {
  position: relative;
}

a.underline:before {
  content: "";
  position: absolute;
  width: 0;
  height: 6px;
  bottom: 0;
  right: 0;
  background-color: black;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

a.underline:hover:before {
  visibility: visible;
  width: 100%;
}